/* Button */
.btn-primary {
    background-color: darkgray;
    color: white;
    width: 150px;
    height: 70px;
    font-size: 12px;
    border-radius: 4px;
    border: none;
}

.btn-primary:hover {
    background-color: gray;
    cursor: pointer;
}

/* Estilos del botón de menú (hamburger) */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
}