/* Button */

.btn-primary {
    @include button-style(#3498db, white);
}

.btn-primary:hover {
    @include button-style(#2ecc71, white);
    cursor: pointer;
}

.button {
    background-color: map-get($colors, primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    &:hover {
        background-color: darken(map-get($colors, primary), 10%);
    }
}

.abrir-menu,
.cerrar-menu {
    display: none;
}