/* Imagenes */
/* Logo */
.firma-logo{
    margin: 8px;
    display:inline-block black; 
    border: 1px solid #000000;
    border-radius: 4px;
    width: 70px;
    height: 30px;
}

/* Obras */
.misobras {
    margin: 40px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-only;
    gap: 32px;
}

.imagenes-obras{
    text-decoration: none;
    padding: 16px;
    border: 1px solid black;
    border-radius: 5px;
}

.imagenes-obras img{
    width: 300px;
    height: 450px;
}

/* Imagenes Inicio */
.pinceles {
    border: 1px solid black;
    float: left; 
    margin: 10px;
    padding: 10px;
    margin-left: 60px; 
    width: 200px; 
}

.manchas{
    background-image: url(../imagenesproyecto.html/manchasgrises.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    opacity: 0.7;
    z-index: -1;
}

/* Imagenes Influencias */
.dali{
    width: 300px;
    height: 300px;
    float: right;
    margin-left: 10px;
}

/* Imagenes Acerca de Mi */
.martin {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;          
    margin: 100px;               
    border: 1px solid black; 
    max-width: 100%;          
    height: auto;
}
               

/* Imagen Contacto */
.imagen-contacto {
    width: 400px;
    height: 500px;
    text-decoration: none;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    float: inline-end;
    margin-inline-end: 30px;
}













 

