/* Imagenes */
/* Logo */
.firma-logo{
    max-width: 5rem;
    margin: 8px;
    display:inline-block rgba(31, 30, 30, 0.137); 
    border: 1px solid #000000;
    border-radius: 4px;
    width: 70px;
    height: 30px;
}

/* Obras */
.misobras {
    margin: 40px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.imagenes-obras{
    text-decoration: none;
    padding: 16px;
    border: 1px solid black;
    border-radius: 5px;
    
}

.imagenes-obras img{
    width: 300px;
    height: 450px;
    transition: transform 0.3s ease;
}

.imagenes-obras img:hover {
    transform: scale(1.1); 
}

/* Imagenes Inicio */
.pinceles {
    border: 1px solid black;
    display: block; 
    margin: 40px 40px; 
    padding: 30px;
      
}

.pinceles:hover {
    transform: perspective(250px)
    rotate(10deg);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    
}

/* Imagenes Acerca de Mi */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px;
    transition: transform 0.3s ease;
}

.flex-item:nth-child(even) {
    flex-direction: row-reverse; 
}

.flex-item img {
    width: 100%;
    max-width: 500px;
    margin: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.flex-item img:hover {
    transform: scale(0.95); 
}

/* Imagen Contacto */
.imagen-contacto {
    width: 500px;
    height: 650px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    padding: 20px; 
    width: 450px;   
}

.imagen-contacto:hover {
    transform: scale(0.8);
}

/* Imagenes Influencias */
.artwork {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.artwork div {
    text-align: center;
    margin: 20px;
}

.artwork img {
    width: 350px;
    height: 350px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.artwork img:hover {
    transform: scale(1.1);
}


