/* Media Query para dispositivos móviles */
@media (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0px;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }


    .abrir-menu {
        color: #000000;
    }

    .cerrar-menu {
        color:#ddd
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top:0;
        right:0;
        bottom: 0;
        background-color: black;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: darkgray;
    }

    h1 {
        font-size: 34px; 
    }

    h2 {
        font-size: 30px; 
    }

    h3 {
        font-size: 26px; 
    }

    .contenedor {
        padding: 15px; 
    }

    .pinceles {
        width: 100%; 
        height: auto; 
    }

    .misobras {
        width: auto; 
        height: auto; 
    }

    .imagenes-obras {
        margin-bottom: 20px;
    }

    .imagen-contacto {
        width: 100%;
        height: auto;
    }

    .p-obras {
        font-size: 16px; 
        margin: 10px 0; 
        text-align: center;
    }

    .flex-item {
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .text {
        font-size: 1em;
    }

    .flex-item:nth-child(even) {
        width: 100%;
        flex-direction: column;
    }

    .textarea {
        width:auto;
        height: auto;
    }

    .grid-item {
        width: auto;
        height: auto;
        text-align: center;
    }

    .grid-container {
        display: inline;
    }
}
