/* Media Query para dispositivos móviles */
@media (max-width: 568px) {
   
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #000000;
    }

    .cerrar-menu {
        color:#ddd
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top:0;
        right:0;
        bottom: 0;
        background-color: #000000;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: darkgray;
    }

    h1 {
        font-size: 34px; 
    }

    h2 {
        font-size: 30px; 
    }

    h3 {
        font-size: 26px; 
    }

    
    .contenedor {
        padding: 15px; 
    }

    .pinceles {
        width: 100%; 
        height: auto; 
    }

    .misobras {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenes-obras {
        margin-bottom: 20px;
    }

    .imagen-contacto {
        width: 100%;
        height: auto;
    }

    .martin {
        width: 100%; 
        height: auto;
    } 
    
    .dali {
        width: 100%; 
        height: auto;
    } 
    
    .parrafo {
        font-size: 18px; 
        line-height: 1.6; 
        margin: 20px 0;
    }
    
    .grid-container {
        grid-template-columns: 1fr;
    }

    .p-obras {
        font-size: 16px; 
        margin: 10px 0; 
    }
}

