
/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Federant&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: gray;

    
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
     
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav :hover {
    color: #f39c12;
}
.nav-list li a {
    text-decoration: none;
    color: white;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/* Body */
body {
    margin: 0 16px;
    background-color: white;
    font-family: "Roboto", serif;
}


/* Titulos */
h1 {
    font-family: "Roboto", serif;
    font-size: 60px;
    text-align: center;
    color: #000000;
    margin: 50px;
    padding: 20px;
}

h3 {
    font-family: "Playwrite IT Moderna", serif;
    font-size: 40px;
    text-align: center;
    margin: 50px;
    padding: 20px;
 }


h2 {
    color: dimgrey;
    font-size: 30px;
    text-align: center;
    font-family: "Rock Salt";
    margin: 30px;
}

h5 {
    font-size: 25px;
    text-align: center;
    margin: 16px 0px;
    color: #000000;
    font-family: "Roboto", serif;
}


/* Imagenes */
/* Logo */
.firma-logo{
    max-width: 5rem;
    margin: 8px;
    display:inline-block rgba(31, 30, 30, 0.137); 
    border: 1px solid #000000;
    border-radius: 4px;
    width: 70px;
    height: 30px;
}

/* Obras */
.misobras {
    margin: 40px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.imagenes-obras{
    text-decoration: none;
    padding: 16px;
    border: 1px solid black;
    border-radius: 5px;
    
}

.imagenes-obras img{
    width: 300px;
    height: 450px;
    transition: transform 0.3s ease;
}

.imagenes-obras img:hover {
    transform: scale(1.1); 
}

/* Imagenes Inicio */
.pinceles {
    text-decoration: none;
    padding: 16px;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
    margin: 40px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    width: 300px;
}

.pinceles:hover {
    transform: perspective(250px)
    rotate(10deg);
}

/* Imagenes Influencias */
.artwork {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.artwork div {
    text-align: center;
    margin: 20px;
}

.artwork img {
    width: 350px;
    height: 350px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.artwork img:hover {
    transform: scale(1.1);
}


/* Imagenes Acerca de Mi */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px;
    transition: transform 0.3s ease;
}

.flex-item:nth-child(even) {
    flex-direction: row-reverse; 
}

.flex-item img {
    width: 100%;
    max-width: 500px;
    margin: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.flex-item img:hover {
    transform: scale(0.95); 
}

.text {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    max-width: 600px;
}


/* Imagen Contacto */
.imagen-contacto {
    width: 500px;
    height: 650px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    padding: 20px; 
    width: 450px;   
}

.imagen-contacto:hover {
    transform: scale(0.8);
}

/* Main Content */
.p-obras{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
}

/* Form */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding: 30px; 
}

.grid-item {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    text-align: center;
}

/* Button Style */
.btn-primary {
    background-color: darkgray;
    color: white;
    width: 150px;
    height: 70px;
    font-size: 12px;
    border-radius: 4px;
    border: none;
}

.btn-primary:hover {
    background-color: gray;
    cursor: pointer;
}

/*footer*/
.copyright {
    font-size: 20px;
    
}

.firma-logo {
    margin: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
    width: 70px;
    height: 30px;
    float: center:
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
    padding: 2rem;
    background-color: gray;
    color: #f2f2f2;
}


.abrir-menu {
    display: none;
}

/*animacion*/
.animate__animated animate__rotateIn{
    --animate-duration: 2s;
}

/* Media Query para dispositivos móviles */
@media (max-width: 550px) {
   
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #000000;
    }

    .cerrar-menu {
        color:#ddd
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top:0;
        right:0;
        bottom: 0;
        background-color: black;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: darkgray;
    }

    h1 {
        font-size: 34px; 
    }

    h2 {
        font-size: 30px; 
    }

    h3 {
        font-size: 26px; 
    }

    
    .contenedor {
        padding: 15px; 
    }

    .pinceles {
        width: 100%; 
        height: auto; 
    }

    .misobras {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenes-obras {
        margin-bottom: 20px;
    }

    .imagen-contacto {
        width: 100%;
        height: auto;
    }

    
    .p-obras {
        font-size: 16px; 
        margin: 10px 0; 
    }

    .flex-item {
        width: 100%;
        flex-direction: column;
    }

    .text {
        font-size: 1em;
      
    }

    .flex-item:nth-child(even) {
        width: 100%;
        flex-direction: column;
}

    
